/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: #ffffff;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

/* MAIN CONTAINER */
.container {
  margin-top:90px ;
  width:1200px;
  padding: 40px 40px;
  position: relative;
  
  
}

/* TOP SECTION */
.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.top-section .text {
  flex: 1 1 400px;
}

.top-section h1 {
  font-size: 3.3rem;
  margin-bottom: 20px;
}

.top-section p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #333;
}

.btn-start {
  background: #222;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* IMAGE */
.image-wrapper {
  position: relative;
  display: inline-block;
  padding: 20px; /* espacio para que el cursor y esquinas no se corten */
  
}

.image-wrapper img {
  width: 100%;
  
  
}
.cursor-icon {
  position: absolute;
  bottom: 0;
  right:50px;
  width: 40px;
  height: 40px;
  background-image: url("../image/cursor.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translateY(-0px); /* sube el icono */
  
}



/* BOTTOM SECTION - CARDS */
.bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  gap: 20px;
}

.card {
  flex: 1 1 calc(25% - 20px);
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  color: #222;
  position: relative;
  min-width: 220px;
}

.card:nth-child(1) {
  background: #f0b7a7;
}

.card:nth-child(2) {
  background: #faf0a4;
}

.card:nth-child(3) {
  background: #bbd9db;
}

.card:nth-child(4) {
  background: #5b63f7;
  
}

.number {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.98rem;
}


/* ICONS */
.icon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-180px); /* sube el icono */
  
}

.icon-yt {
  background-image: url("/image/youtube.png");
}

.icon-tt {
  background-image: url("/image/tiktok.png");
}

.icon-fb {
  background-image: url("/image/facebook.png");
}

.icon-ig {
  background-image: url("/image/ig.png");
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 20px; /* reducir padding en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
  }

  .bottom-section {
    flex-direction: column;
    gap: 15px;
  }

  .card {
    flex: 1 1 100%;
  }
}

